@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+Salt&display=swap');

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    background-color: #e2e2e2;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.rocksalt {
    font-family: 'Rock Salt', cursive;
    font-weight: 400;
}

.logo {
    left: 20px;
    top: 20px;
}

#scrollspy {
    position: fixed;
    width: 150px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
}

#scrollspy {
    opacity: 20%;
    transition: opacity 0.7s ease;
}

#scrollspy:hover {
    opacity: 100%;
}

#scrollspy .nav-link {
    color: #495057;
    text-align: right;
}

#scrollspy .nav-link.active {
    color: #fff;
    font-weight: 700;
    background-color: black;
    font-size: 20px;
}

h1 {
    font-size: 72px;
    text-align: center;
    -webkit-text-stroke: 2px black;
    color: black;
}

h2 {
    font-size: 60px;
    text-align: center;
    -webkit-text-stroke: 2.5px black;
    color: black;
}

h3 {
    font-size: 48px;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: black;
}

h4 {
    font-size: 24px;
    text-align: center;
    -webkit-text-stroke: 1px black;
    color: black;
}

.cv {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.cv:hover {
    color: #e15554;
}

#cv-here {
    right: 18vw;
    bottom: 18vh;
    position: absolute;
}

#cv-arrow {
    right: 26vw;
    bottom: 21vh;
    position: absolute;
}

.bagian {
    height: 100vh;
    padding-top: 15vh;
    text-align: center;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}

.pic {
    transition: transform 0.7s ease, filter 0.7s ease, box-shadow 0.7s ease;
    box-shadow: #495057;
    filter: grayscale(100%);
    border-radius: 12px;
}

.pic:hover {
    transform: translateY(-8px);
    filter: none;
}

.pic-1 {
    max-height: 40vh;
    width: 60%;
    object-fit: cover;
    filter: blur(8px);
}

.pic-2 {
    max-height: 50vh;
    width: auto;
}

.project-1 {
    max-height: 40vh;
    width: auto;
}

.project-2 {
    max-height: 35vh;
    width: auto;
}

.btn-more {
    top: 5px;
}

.projects {
    text-align: right;
}

.item {
    top: 50%;
    transform: translateY(-50%);
}

.btn {
    font-weight: 400;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: black;
}

.btn:hover {
    font-weight: 400;
    font-size: 20px;
    color: black;
    text-align: center;
    background-color: none;
    border: 1px solid black;
}

.progress {
    /* background-color: #919191 */
    box-shadow: 2px 2px 0px #495057;
}

.progress-bar {
    background-color: #495057;
    border: #495057;
    transition: background-color 0.3s ease;
}

.progress-bar:hover {
    background-color: #e15554;
}

.contact {
    font-size: 84px;
    transition: color 0.3s ease;
    text-decoration: none;
    color: rgb(29, 29, 29);
}

.contact:hover {
    color: #e15554;
}

.quotes {
    padding-top: 10vh;
    color: #495057;
    font-family: 'Times New Roman', Times, serif;
}

.par-obj {
    transition: transform 0.12s ease;
}

.sub-text {
    font-size: 16px;
    font-weight: 500;
}

.about-me-text {
    text-align: justify;
    font-weight: 600;
}
